@charset "UTF-8";
/*====================================================================
                    common　style
==================================================================*/
* {
  font-family: "Yu Gothic" sans-serif;
  color: #3E3E3E;
  font-size: 16px;
  line-height: 1.5556em;
}

@media screen and (mix-width: 769px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .is-pc {
    display: none;
  }
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

.inner {
  padding: 0 40px;
  max-width: 1200px;
  box-sizing: content-box;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: SemiBold;
}

.util-btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 75px;
  border: 1px solid #707070;
  color: #3E3E3E;
}

/*====================================================================
                    header
====================================================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px 16px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 16px;
  }
}

.drawer-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .drawer-toggle {
    display: block;
  }
}

.header-title {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-title {
    display: block;
    font-size: 23px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
}

.header-nav-list {
  display: flex;
  justify-content: center;
}

.header-nav-item + .header-nav-item {
  margin-left: 40px;
}

/*====================================================================
                    top
====================================================================*/
.top {
  height: 648px;
  background-image: url(../img/mv.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 0 40px;
  display: flex;
}

.top-none {
  flex: 0 0 50%;
}

.top-message-box {
  flex: 0 0 50%;
  padding-top: 236px;
}

.top-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 35px;
  letter-spacing: .02px;
}

.top-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 35px;
  letter-spacing: 0.5px;
}

.top-btn {
  display: inline-block;
  font-size: 18px;
  background-color: #FFAA3B;
  padding: 14px 46px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
}

/*====================================================================
                    news
====================================================================*/
.news {
  width: 100%;
  background-color: #F3F3F3;
  padding: 120px 40px;
}

.news-inner {
  background-color: #fff;
  padding: 60px 60px 40px 60px;
  margin: 0 auto;
}

.news-inner .section-title {
  text-align: center;
  margin-bottom: 60px;
}

.news-item {
  padding: 35px 0;
  border-bottom: 1px solid #CECDCD;
  border-top: 1px solid #CECDCD;
  max-width: 1080px;
  cursor: pointer;
}

.news-item:hover {
  background-color: rgba(73, 115, 255, 0.1);
}

.news-item-link {
  display: flex;
  align-items: center;
}

.news-item-day {
  flex: 0 0 10%;
  margin-right: 35px;
}

.news-item-title {
  background-color: #fff;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  line-height: 30px;
  text-align: center;
  margin-right: 32px;
  flex: 0 0 11%;
  height: 30px;
}

.news-item-text {
  margin-right: 50px;
  letter-spacing: .5;
  font-size: 18px;
}

.news-open {
  flex: 0 0 1.5%;
  margin-left: auto;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
  height: 15px;
  border-bottom: 3px solid #3E3E3E;
  border-right: 3px solid #3E3E3E;
}

.news-btn-box {
  margin-top: 40px;
  text-align: center;
}

/*====================================================================
                    service
====================================================================*/
.service {
  position: relative;
  background-color: #F3F3F3;
  padding-bottom: 215px;
}

.service-bg {
  width: 100%;
  background-color: #3E3E3E;
  height: 400px;
}

.service-inner {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 160px;
}

.service-title {
  text-align: center;
  margin-bottom: 60px;
}

.service-title .section-title {
  color: #fff;
}

.service-box {
  background-color: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  width: 100%;
}

.service-item {
  flex: 0 1 33.3333%;
  padding: 60px 45px;
}

.service-item-inner {
  text-align: center;
}

.fa-laptop-code {
  font-size: 64px;
  margin-bottom: 10px;
}

.service-item-title {
  font-family: "Montserrat", sans-serif;
  font-weight: Bold;
  letter-spacing: 4px;
  font-size: 20px;
  margin-bottom: 20px;
}

.service-item-text {
  font-size: 14px;
  line-height: 1.7143em;
}

/*====================================================================
                    results
====================================================================*/
.results {
  background-color: #F3F3F3;
  padding-left: 40px;
}

.result-inner {
  padding: 60px 0 60px 60px;
  background-color: #3E3E3E;
  position: relative;
}

.result-inner .section-title {
  color: #fff;
}

.results-item-box {
  margin-top: 60px;
}

.slick .results-item {
  box-sizing: content-box;
  max-width: 400px;
}

.results-item {
  z-index: 10;
  margin-right: 40px;
}

.results-item-img {
  width: 100%;
  height: 250px;
}

.results-item-text-box {
  padding: 14px;
  margin: 0 auto;
  background-color: #fff;
}

.result-item-title {
  font-size: 20px;
  font-weight: bold;
}

.results-item-text {
  margin-top: 14px;
  line-height: 1.7243em;
}

.results-btn-box {
  margin-top: 100px;
}

.results-btn-box .util-btn {
  color: #fff;
}

/*====================================================================
                    price
====================================================================*/
.price {
  background-color: #F3F3F3;
  padding: 160px;
}

.price .section-title {
  text-align: center;
  margin-bottom: 60px;
}

.price-box {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.price-item {
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.price-item:last-child .price-title {
  border-bottom: 1px solid #3E3E3E;
}

.price-title {
  background-color: #3E3E3E;
  color: #fff;
  width: 260px;
  padding-bottom: 0;
  line-height: 60px;
  border-top: 1px solid #fff;
}

.price-cost {
  padding-left: 40px;
  background-color: #fff;
  border-bottom: 1px solid #3E3E3E;
  border-right: 1px solid #3E3E3E;
}

.border-none .price-title {
  border-top: 0;
}

.border-none .price-cost {
  border-top: 1px solid #3E3E3E;
}

/*====================================================================
                    comments
====================================================================*/
.comments {
  position: relative;
  background-color: #F3F3F3;
  padding: 0 40px 120px 40px;
  z-index: 0;
}

.comments-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 76.56%;
  padding-top: 43%;
  background-color: #3E3E3E;
  z-index: -1;
}

.comments-box {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.comments-item-box {
  background-color: #fff;
  padding: 120px 60px;
  flex: 0 0 55.5%;
}

.comments-item-box .section-title {
  color: #3E3E3E;
  margin-bottom: 60px;
}

.comments-item {
  display: flex;
}

.comments-item + .comments-item {
  margin-top: 60px;
}

.comments-item-text {
  margin-left: 32px;
}

.comments-item-img {
  flex: 0 0 60px;
}

.comments-item-img img {
  height: 60px;
  width: 60px;
}

.comments-img {
  width: 50%;
  padding-top: 41.575%;
  background-image: url(../img/comments3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/*====================================================================
                    q&a
====================================================================*/
.qa {
  background: url(../img/qa-bg.png) center center/cover;
  padding: 60px 40px 120px;
}

.qa .section-title {
  text-align: center;
  color: #3E3E3E;
  margin-bottom: 60px;
}

.qa-box {
  width: 51%;
  margin-left: auto;
}

.qa-item {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
}

.qa-item + .qa-item {
  margin-top: 32px;
}

.qa-mark {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background-color: #3B69FF;
  border-radius: 50%;
  width: 24px;
  text-align: center;
  margin-right: 16px;
  font-weight: bold;
}

.qa-title {
  display: flex;
  align-items: center;
}

.qa-question {
  font-weight: bold;
  letter-spacing: .4px;
}

.qa-puls {
  margin-left: auto;
  color: #3B69FF;
  font-size: 25px;
  font-weight: bold;
}

.qa-answer {
  padding: 16px;
  border-top: 16px;
  background-color: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
}

/*====================================================================
access
====================================================================*/
.access {
  padding: 120px 40px 120px 100px;
  background-color: #F3F3F3;
  position: relative;
  z-index: 2;
}

.access-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3E3E3E;
  width: 76.56%;
  padding-top: 38%;
  z-index: -100;
}

.access-box {
  z-index: 10;
}

.access-box {
  display: flex;
}

.access-text {
  color: #fff;
}

.access-text .section-title {
  color: #fff;
}

.access-address {
  margin-top: 60px;
}

.access-address p {
  color: #fff;
}

.access-btn-box {
  margin-top: 32px;
}

.access-btn-box .util-btn {
  color: #fff;
  border: 1px solid #fff;
}

.access-map {
  width: 63.7%;
  margin-left: auto;
  padding-top: 45.62%;
  background-color: red;
}

/*====================================================================
                    contact
====================================================================*/
.contact {
  padding: 60px 160px;
  background: url(../img/contact-bg.png);
}

.contact-box {
  border-radius: 12px;
}

.contact-header {
  background-image: url(../img/contact1.png);
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  text-align: center;
}

.contact-header .section-title {
  color: #fff;
}

.contact-text {
  margin-top: 16px;
  color: #fff;
}

.contact-form-box {
  background-color: #fff;
  padding: 60px 120px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact-item-title {
  width: 30%;
}

.contact-item-input {
  width: 70%;
}

.contact-item-input input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  padding: 4px 8px;
}

.contact-item-input input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 40px;
  padding: 0 40px 0 12px;
  color: #3E3E3E;
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: relative;
}

.contact-select-box {
  position: relative;
}

.contact-select-mark {
  position: absolute;
  display: block;
  border-bottom: 3px solid #3E3E3E;
  border-right: 3px solid #3E3E3E;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 10px;
  top: 16px;
  right: 16px;
  z-index: 10;
}

.contact-radio + .contact-radio {
  margin-left: 40px;
}

.contact-text-area {
  width: 100%;
}

.contact-text {
  margin-top: 3px;
  width: 100%;
  min-height: 100px;
  resize: vertical;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.contact-footer {
  margin-top: 40px;
}

.contact-submit {
  margin-top: 40px;
}

/*====================================================================
                    footer
====================================================================*/
.footer {
  padding: 60px 160px;
  display: flex;
  justify-content: space-between;
  background-color: #3E3E3E;
}

.sns-item {
  margin-bottom: 40px;
}

.sns-link + .sns-link {
  margin-left: 30px;
}

.sns-link .fab {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-text-item {
  color: #fff;
  letter-spacing: .4px;
  display: block;
}

.footer-text-item + .footer-text-item {
  margin-top: 24px;
}

.footer-right {
  text-align: right;
}

.footer-right-logo {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.footer-right-copy-link {
  margin-left: auto;
  font-size: 12px;
  letter-spacing: .3px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.warp-top-icon {
  display: none;
  width: 64px;
  height: 64px;
  background-color: #D8D8D8;
  margin-left: auto;
  position: fixed;
  bottom: 24px;
  right: 24px;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}

.warp-top-icon:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  opacity: 0.7;
}

.warp-top-icon::after {
  position: absolute;
  content: "";
  border-top: 4px solid #3E3E3E;
  border-right: 4px solid #3E3E3E;
  border-radius: 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 20px;
  height: 20px;
  left: 50%;
  top: 60%;
}

@media screen and (mix-width: 769px) {
  .warp-top-icon::after {
    left: 15px;
    top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .warp-top-icon::after {
    border-top: 2px solid #3E3E3E;
    border-right: 2px solid #3E3E3E;
    width: 10px;
    height: 10px;
    left: 11px;
    top: 12px;
  }
}

@media screen and (mix-width: 769px) {
  .warp-top-icon {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 768px) {
  .warp-top-icon {
    width: 32px;
    height: 32px;
  }
}
